@media only screen and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/Dark-bg_mob@2x.jpg)
    }
    .advantage-icons{
        display: none;
    }
    .footer{

    }
}
@media only screen and (max-width: 767.98px) {
    .menu-nav {
        display: none;
    }

    .contacts {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .hero-section {
        max-width: 768px;
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/Dark-bg_tabl.jpg);
    }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/Dark-bg_tabl@2x.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .hero-section {
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/peopleoffice.jpg);
    }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/peopleofficedesk@2x.jpg);
    }
}
@media screen and (min-width: 768px) {

    .container {
        max-width: 768px;
    }
         /* Header */
         .header-menu-btn {
             display: none;
         }
    
         .nav-link {
             color: var(--c-dark);
             font-weight: 500;
             padding: 24px 0;
         }
    
         .nav-link:hover,
         .nav-link:focus {
             color: var(--c-pressed-state);
         }
        .nav-menu {
                     display: none;
                 }
    
         .nav-link-studio {
             color: var(--c-pressed-state);
             position: relative;
             transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
         }
    
         .nav-link-studio::after {
             position: absolute;
             width: 100%;
             height: 4px;
             border-radius: 2px;
             background-color: var(--c-pressed-state);
             content: "";
             left: 0;
             bottom: -1px;
         }
    
         .address-box {
             font-size: 12px;
             line-height: 1.17;
             letter-spacing: 0.04em;
             color: var(--c-text);
             font-style: normal;
             text-decoration: none;
             transition-property: color;
             transition-duration: 250ms;
             transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
         }
    
         .address-box:hover,
         .address-box:focus {
             color: var(--c-pressed-state);
         }
    
         .nav-menu {
             display: flex;
             gap: 40px;
             padding: 24px 0;
             position: relative;
         }
    
         .header-nav {
             display: flex;
             align-items: center;
             gap: 120px;
         }
    
         .contacts-item {
             display: flex;
             flex-direction: column;
         }
         .hero-title{
            font-size: 56px;
         }
                 /* Advantage section */
     .advantage-item-title {
             text-align: start;
         }
    
         .advantage-list {
             flex-direction: row;
             gap: 72px 24px;
             flex-wrap: wrap;
             flex-direction: row;

         }
                 .advantage-icons {
                     display: none
        
                 }
    
         .advantage-item {
             flex-basis: calc((100% - 24px) / 2);
         }
                 /* Team section */
    .team-section-list {
        flex-direction: row;
        gap: 72px 24px;
        flex-wrap: wrap;
        justify-content: center;
    }
.team-icon{margin: 0 auto;}
    .team-section-item {
        flex-basis: calc((100% - 24px) / 2);
        margin: 0;
    }
        /* Portfolio section */
        .portfolio-list {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 72px 24px;
            justify-content: center;
        }
    
        .portfolio-item {
            flex-basis: calc((100% - 24px) / 2);
        }
         /* Footer */
    
         .footer-inner {
             padding-right: 108px;
             padding-left: 108px;
             flex-direction: row;
         }
    
         .footer-logo {
             display: flex;
         }
    
         .footer-container {
             max-width: 264px;
             margin-right: 24px;
         }
    
         .footer-logo {
             justify-content: start;
         }
    
         .footer-social-text {
             text-align: start;
         }
    
         .footer-form {
             display: flex;
         }
    
         .input-footer {
             width: 264px;
             margin-right: 24px;
             margin-bottom: 0;
         }
    
         .button-submit {
             margin: 0;
         }
         /* Modal */

    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 25px 24px 23px;
    }

}
@media screen and (min-width: 1158px) {

    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .section {
        padding-top: 120px;
        padding-bottom: 120px;}
 /* Hero section */
.hero-section{padding: 188px 0;}
 .hero-title {
     margin-bottom: 48px;
    font-size: 56px;
 }
  /* Header */

  .contacts-item {
      flex-direction: row;
      gap: 40px;
  }

  .address-box {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02px;
  }
  /* Advantage section */
   .advantage-item-title {
       font-size: 20px;
       font-weight: 500;
       line-height: 1.2;
       margin-bottom: 8px;
   }

   .advantage-text {
       font-weight: 400;
   }

   .advantage-item {
       flex-basis: calc((100% - 3 * 24px) / 4);
   }

   .advantage-icons {
       display: flex;
       
   }

   .team-section-item {
       flex-basis: calc((100% - 3 * 24px) / 4);
   }
   /* Portfolio section */
        .portfolio-item {
            flex-basis: calc((100% - 48px) / 3);
        }
    
        .portfolio-list {
            gap: 48px 24px;
        }
 /* Footer */

 .footer-container {
     margin-right: 120px;
    
 }

 .footer-subscribe {
     justify-content: end;
 }

 .footer-inner {
     display: flex;
     justify-content: space-between;
 }

 .footer-text {
     margin-bottom: 0;
 }
.footer-social{margin-right: 80px;}
 .footer-social-list {
     margin-bottom: 0;
 }
 }
  /* Modal window */

  .modal {
      padding-right: 24px;
      padding-left: 24px;
  }

  @media only screen and (min-width: 768px) {
      .menu-container {
          display: none;
      }
  }